body {
  background-color: whitemsmoke;
  color: #2e2f2f;
}

* {
  color: #2e2f2f;
}

#navBar, #footer {
  background: whitesmoke;
}

#container form input {
  color: whitesmoke;
  background: #2e2f2f;
}

#container form button[type='submit'] {
  color: whitesmoke;
}